In [4]:
import pandas
import read_data

In [12]:
dataframe = read_data.create_frame()
dataframe

,object_name,seq_name,num_of_sequences,sequence_len,cycle,sequence_values,scenes
0,BRUMC1,BRUMC1,1,8,,"[B.27.23.B.30, A.38, G.27.30, B.24.11, B.27.28...",[1]
1,BRUMC2,BRUMC2,1,2,a,"[E.17.48.3, B.29.23.B.25]",[14]
2,BRUMC3,BRUMC3,1,2,a,"[B.29.35, B.24.5]",[13]
3,BRUMC4,BRUMC4,1,2,a,"[B.24.11, B.29.35]",[14]
4,COLA02,COLA02,1,8,,"[B.24.11, B.31.28, A.6, B.24.28.7, A.38, B.29....","[1, 5]"
...,...,...,...,...,...,...,...
250,MUNSA-0007688,MUNSA-0007688,1,8,0,"[B.24.10, B.27.25.B.30, A.36, B.24.28, B.24.11...",[9]
251,MUNSA-0007686,MUNSA-0007686,1,10,0,"[A.37, B.29.25, A.37, B.29.25, A.37, B.29.25, ...",[0]
252,HMV-63.54.12,HMV-63.54.12inf,1,16,0,"[E.31.47, B.29.25, A.19, B.31.25, E.31.47, B.2...",[0]
253,HMV-63.54.12,HMV-63.54.12cent,1,16,0,"[B.29.25, A.19, B.31.25, A.17, B.29.25, A.19, ...",[0]
254,COLA27,COLA27,1,6,a,"[B.24.28, A.1.47, H.24.28, E.31.47, C.24.3, B....",[0]

In [13]:
sequences = dataframe['sequence_values']
sequences
symbols_dict = {}
for seq in sequences:
    for index, symbol in enumerate(seq):
        if index > 0 and index < len(seq):
        if symbol

0      [B.27.23.B.30, A.38, G.27.30, B.24.11, B.27.28...
1                              [E.17.48.3, B.29.23.B.25]
2                                      [B.29.35, B.24.5]
3                                     [B.24.11, B.29.35]
4      [B.24.11, B.31.28, A.6, B.24.28.7, A.38, B.29....
                             ...
250    [B.24.10, B.27.25.B.30, A.36, B.24.28, B.24.11...
251    [A.37, B.29.25, A.37, B.29.25, A.37, B.29.25, ...
252    [E.31.47, B.29.25, A.19, B.31.25, E.31.47, B.2...
253    [B.29.25, A.19, B.31.25, A.17, B.29.25, A.19, ...
254    [B.24.28, A.1.47, H.24.28, E.31.47, C.24.3, B....
Name: sequence_values, Length: 255, dtype: object